version: '3.1'

services:

  mongo:
    image: mongo:7.0.0
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    command: --logpath /var/log/mongodb/mongod.log

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
    depends_on:
      - mongo
    profiles:
      - debug

  listener:
    image: listener
    build: listener
    ports:
      - 80:80
    depends_on:
      - mongo

  tester:
    image: tester
    build: tester
    depends_on:
      - listener
    profiles:
      - testing
